[project]
name = "batch-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.122.0",
    "sqlmodel>=0.0.27",
    "uvicorn>=0.38.0",
]
